@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header{
    background: rgb(4, 4, 56);
    height: 50px;
    width: 100%;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 3;

}
label{
    color: #8f8f8f;
    font-size: 1.05em;
    margin-right: 10px;
}
select{
    width: 75%;
}
/*--home botton styling----*/
.nav-bar{
    margin-left: 25px;
    margin-top: 30px;
    width: 150px;
}
ul{
    position: relative;
    transform: skewY(-15deg);
}
ul li{
    position: relative;
    list-style: none;
    width: 150px;
    background: #201c40;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}
ul li:hover{
    background: #080424;
    transform: translatex(-30px);
}
ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #080424;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
ul li::after{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #271e3e;
    transform-origin: bottom;
    transform: skewx(45deg);
    transition: 0.5s;

}
ul li a{
    text-decoration: none;
    color: aqua;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
ul li:hover a{
    color: aqua;
}
/*--------------------------------*/
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    background: rgb(4, 4, 56);
}

.box form{
    width: 400px;
    background: #0a0122;
    padding: 50px 40px;
    border-radius: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: rgb(33, 7, 227);
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px ;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    transition: 0.5s;   
}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span
{
    color: white;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i
{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color: aqua;
}
.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;

}